* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container-fullwidth {
    padding: 10px;
}

.container {
    margin-top: 10px;
}

.film {
    margin-bottom: 10px;
}

.img-error {
    width: auto;
    height: 400px;
}

.errore {
    text-align: center;
}

#stella-piena , #stella-vuota {
    color: yellow;
    font-size: 18px;
}
