* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container-fullwidth {
    padding: 10px;
}

.container-film {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.container-serie {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 0 5px 10px 5px;
    border: 1px solid black;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img-error {
    width: auto;
    height: 400px;
}

.errore {
    text-align: center;
}

#stella-piena , #stella-vuota {
    color: yellow;
    font-size: 16px;
}
