* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    color: white;
    z-index: 1;
}

.header-sx {
    display:flex;
    align-items: center;
}

.logo {
    color:red;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-right: 15px;
}

.header-list span {
    margin: 0 8px;
    font-size: 20px;
    cursor: pointer;
}

.search {
    display: flex;
    align-items: center;
}

#btn-search {
    margin: 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 2px;
}

#input-bar {
    padding: 5px;
}

.container-fullwidth {
    position: relative;
    background-color: black;
    min-height: 100vh;
}

.no-risultati {
    color: white;
    margin: 0 auto;
    display: none;
}

.container-film, .container-serie {
    padding: 25px 45px 50px 45px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 5px;
    flex: 0 1 345px;
    height: 500px;
    border: 1px solid white;
    overflow-y: hidden;
    position: relative;
}

.card-info {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.poster-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.poster-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover .poster-overlay {
    display: none;
}

.card-testo {
    margin: 10px 0;
    height: 200px;
    overflow-y: scroll;
    text-overflow: ellipsis;
}

#stella-piena , #stella-vuota {
    color: yellow;
    font-size: 16px;
}
